{% extends "layout.html" %}
{% block title %}Marbles.AI: Contact Us{% endblock %}

{% block content %}

<div class="container marketing">

    <div id="Contact" class="page-header container">
        <h1>Contact Us </h1>
    </div>
    <div class="container">

        <a href="https://www.facebook.com/marblesai-223706658128154">
            <span class="fa fa-facebook-official" style="font-size:20px"></span>
        </a>

        <div/>
        <a href="mailto:paul@subjectlens.com">
            <span class="glyphicon glyphicon-envelope"></span>
        </a>

        <!--
        Facebook link on how to add to this: https://developers.facebook.com/docs/plugins/page-plugin
        -->
        <!--<div class="fb-page" data-href="https://www.facebook.com/marblesai-223706658128154/" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/marblesai-223706658128154/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/marblesai-223706658128154/">marbles.ai</a></blockquote></div>-->
    </div>

    <a href="https://twitter.com/marbles_ai" class="twitter-follow-button" data-show-count="false">Follow @TwitterDev</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
{% endblock %}