{% extends "layout.html" %}
{% block title %}Marbles.AI: Solving Fake News{% endblock %}

<!-- D3.js -->
{% block includes %}
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.11.3.js"></script>

<script src="../static/js/tree.js"></script>


<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>-->

<style>
    body {
        font-family : 'Montserrat', Arial;
    }
    #nlInput:focus {
        outline : none;
    }
    #nlInput {
        border-width : 0px 0px 1px 0px;
        border-style : solid;
        border-color : #e0e0e0;
        width        : 100%;
        font-family  : 'Sorts Mill Goudy', Georgia;
        font-size    : 32px;
        //font-style   : italic;
        margin-bottom : 0.5em;
    }
    #response dd {
        margin-bottom : 1em;
    }
    #status {
        width : 100%;
        height : 4px;
    }
    .working {
        background-color : #fff0f0;
    }
    .working {
        height: 4px;
        width: 100%;
        position: relative;
        overflow: hidden;
        background-color: white;
    }
    .working:before{
        display: block;
        position: absolute;
        content: "";
        left: -200px;
        width: 200px;
        height: 4px;
        background-color: #428bca;
        animation: workinganim 2s linear infinite;
    }

    @keyframes workinganim {
        from {left: -200px; width: 30%;}
        50% {width: 30%;}
        70% {width: 70%;}
        80% { left: 50%;}
        95% {left: 120%;}
        to {left: 100%;}
    }
    .prompt {
        color : #d0d0d0;
        font-size : 14px;
        font-family : 'Montserrat', Arial;
    }
    .result-title {
        color : #d0d0ff;
        color : #d0d0d0;
        font-size : 14px;
        font-family : 'Montserrat', Arial;
        text-transform : uppercase;
    }
    .result-body {
        font-family  : 'Sorts Mill Goudy', Georgia;
        font-size : 24px;
    }
    .result {
        margin-top : 30px;
        padding-bottom : 30px;
    }
    .result:not(:last-child) {
        border-width : 0 0 1px 0;
        border-color : #f0f0f0;
        border-style : dotted;
    }
    #analyzers {
        font-size : 18px;
        /*text-transform : uppercase; */
    }
    #footer {
        font-size : 14px;
    }
</style>

{% endblock %}

{% block content %}

<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="col-sm-9">
            <div class="prompt">ENTER A SENTENCE:</div>
            <input type="text" id="nlInput" autofocus></input>
            <div id="status"></div>
            <div id="response"></div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script>

    function toHtml(par, key, value){

        if (key == "Tokens"){
            var tokens = value.split(' ');
            var toplist = $("<ol>");
            console.log("Tokens: " + tokens);
            for(var i = 0; i < tokens.length; i++){
                var list = $("<li>");
                list.append(tokens[i]);
                toplist.append(list);
            }
            par.append(toplist.html());
            return;
        }
        if (key == "Constituency Tree"){

            var root = new Treenode('PARA');
            for( var i = 0, len = value.length; i < len; ++i){
                var pt = parseCnfTree(value[i]);
                root.children.push(pt);
            }
            var can = $("<canvas>")[0];
            par.append(can);
            var ctx = can.getContext("2d");
            drawConstituentTree(can, ctx, root);
            return;
        }
    }

    function addAnalysisResult(resp, key, value)
    {
        var res = $(
            '<div class="result">' +
            //'<div class="panel panel-default">' +
            //'<div class="panel-heading">' +
            '<h3 class="result-title">' + key + '</h3>' +
            //'</div>' +
            //'<div class="panel-body">' +
            '<div class="result-body">' +
            '</div>' +
            '</div>');
        resp.append(res);
        toHtml(res.children(".result-body"), key, value);
    }


    function updateAnalysis(){
        var inputText = $("#nlInput").val();
        var resp = $("#response");
        resp.empty();

        //http://msrsplat.cloudapp.net/SplatServiceJson.svc/Analyze?language=en&analyzers=Constituency_Tree-PennTreebank3-SplitMerge&appId=89839f78-e146-48c6-8e55-96de0b30057a&input=I%20like%20apples!


            req = $.get("http://msrsplat.cloudapp.net/SplatServiceJson.svc/Analyze?language=en&analyzers=Constituency_Tree-PennTreebank3-SplitMerge&appId=89839f78-e146-48c6-8e55-96de0b30057a&input=" + encodeURI(inputText), function( data )
            {
                var resp = $("#response");
                resp.empty();
                for (var i = 0, len = data.length; i < len; ++i)
                {
                    var pair = data[i];
                    addAnalysisResult(resp, pair['Key'].split('-')[0].replace(/_/g, ' '), pair['Value']);
                }
            });
//
//
//
//
//        //var data = [{"Key": "Constituency_Tree-PennTreebank3-SplitMerge", "Value": ["(TOP (S (NP (PRP I)) (VP (VBP like) (NNS apples)) (. !)))"]}];
//
//        for(var i = 0, len = data.length; i < len; ++i){
//            var pair = data[i];
//            addAnalysisResult(resp, pair['Key'].split('-')[0].replace(/_/g, ' '), pair['Value']);
//        }
    }

    $("#nlInput").keyup(function(e){
        var keycode = e.which;
        if(keycode == 13){
            //
            // [{"Key": "Constituency_Tree-PennTreebank3-SplitMerge", "Value": ["(TOP (S (NP (PRP I)) (VP (VBP like) (NNS apples)) (. !)))"]}]
            updateAnalysis();
        }
    });


</script>

{% endblock %}