{% extends "layout.html" %}
{% block title %}Marbles.AI: Fake News{% endblock %}


{% block content %}

        <!-- Jumbotron -->
      <div style="background:transparent !important" class="jumbotron">
        <h1>Fake News!</h1>
        <p class="lead">Fake news is having a significant impact on society; it has not only effected our last election,
            but it is having a high-profile impact on large social media companies
        </p>
      </div>

    <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>The Election</h2>
          <p>Russia had a hand in swaying the American elections in 2016. By pumping social media with fake
          news that was quickly shared, voters were swayed by false information.</p>
          <p><a class="btn btn-primary" href="http://www.npr.org/sections/alltechconsidered/2017/04/03/522503844/how-russian-twitter-bots-pumped-out-fake-news-during-the-2016-election" role="button">Russia's Impact on Elections &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Manchester Attack</h2>
          <p>After the Manchester suicide attack on the 22nd of May, 2017, there was a flood of fake
          reports about missing people. This information was then rapidly proliferated as soon as it was
          introduced.
          </p>
          <p><a class="btn btn-primary" href="http://www.euronews.com/2017/05/23/manchester-attack-social-media-trolls-and-fake-news" role="button">Manchester Fake News &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h2>Politics</h2>
          <p>The political left has become as targeted by fake news as the right, with false information about
              opposing political issues, deluting meaningful discourse.
          </p>
          <p><a class="btn btn-primary" href="https://www.theatlantic.com/technology/archive/2017/02/viva-la-resistance-content/515532/" role="button">Liberal Fake News &raquo;</a></p>
        </div>
      </div>

{% endblock %}
