Flask
Flask-Login
Flask-WTF
docker-compose
docker-py
dockerpty
futures
html5lib
httplib2
jsonlib2
jsonschema
oauthlib
python-dateutil
python-memcached
requests
urllib3
virtualenv
websocket-client
numpy
scikit-learn
python-social-auth
networkx
pypeg2
rdflib
nltk
SPARQLWrapper
pysmt
statistics
protobuf==3.15.0
grpcio==1.1.3
selenium
beautifulsoup4
lxml
feedparser
html2text
boto3
feedgen
watchtower
requests
python_daemon
regex
wikipedia
inflect
awscli
